<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland unknown request 404
  </title>
</head>

<body>

<hr />

<%= mlResult[:error_message]%>.


<hr />
<p>Add something new:  </p>


<form method="post" action="">
  With text: <input type="text" name="MuffinContents" value="" >
  <input type="submit" name="Add" value="Add text">
</form>


</body>
</html>

