<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland unknown request 404
  </title>
</head>

<body>

<hr />

<%= mlResult[:error_message]%>.


<hr />
<p>Add something new, either by text or uploading a file:  </p>


<form method="post" action="">
  With text: <input type="text" name="MuffinContents" value="" >
  <input type="submit" name="Add" value="Add text">
</form>

<form method="post" action=""
      enctype="multipart/form-data">
  With file: <input type="file" name="file" id="file">
  <input type="submit" name="Upload" value="Add from file">
</form>
<hr />







<hr />

The Muffins:
<% mlResult[:dangerously_all_muffins_for_viewing].each_with_index { |value, index | %>
    <p> <a href="<%= index %>">Muffin <%= index %> </a>: <%= value %> </p>
<% } %>





</body>
</html>

