<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    New Small web hexagon
  </title>
</head>

<body>

<hr />

Welcome to Small Web Hexagon. There is nothing here yet.

<hr />
<p>Go ahead and add something new:  </p>

<form method="post" action="">
  With text: <input type="text" name="MuffinContents" value="" >
  <input type="submit" name="Add" value="Add text">
</form>



</body>
</html>

