<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    New Muffinland
  </title>
</head>

<body>

<hr />

Welcome to Muffinland. There is nothing here yet.

<hr />
<p>Go ahead and add something new, either by text or uploading a file:  </p>

<form method="post" action="">
  With text: <input type="text" name="MuffinContents" value="" >
  <input type="submit" name="Add" value="Add text">
</form>

<form method="post" action=""
      enctype="multipart/form-data">
  With file: <input type="file" name="file" id="file">
  <input type="submit" name="Upload" value="Add from file">
</form>
<hr />



</body>
</html>

