<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Small Web Hexagon
  </title>
</head>
<body>

<p> Page <%= mlResult[:muffin_id] %> is:  <br />
    <%= mlResult[:muffin_body] %>
</p>


<p> add something new:  </p>


<form method="post" action="">
  With text: <input type="text" name="MuffinContents" value="" >
  <input type="submit" name="Add" value="Add text">
</form>



</body>
</html>

