<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    simpleGET:
  </title>
</head>

<body>
<h1>It's a GET</h1>



<p> Page requested is <%= path %> </p>
<p> Params = <%= params %></p>
<p> </p>
<p> </p>

<p>Tatty3!</p>


</body>
</html>

