<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    simpleDataInput:
  </title>
</head>

<body>
<h1>enter something</h1>

<form method="post" action="">
  <p><input type="text" name="someinput" value="" ></p>
  <p class="submit"><input type="submit" name="commit" value="Enter"></p>
</form>

</body>
</html>
